In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\abc\Data Science and ML\CampusX\Project\houses.csv')

In [3]:
df.sample(2)

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,...,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
272,4 Bedroom House for sale in Ravi Nagar,https://www.99acres.com/4-bhk-bedroom-independ...,NaN,1.1 Crore,"₹ 55,000/sq.ft.",(19 sq.m.) Plot Area,Plot area 200(18.58 sq.m.),4 Bedrooms,3 Bathrooms,1 Balcony,...,"15/2 Gali No 3, Ravi Nagar, Gurgaon, Haryana",2 Floors,North-East,10+ Year Old,"['Hanuman Mandir', 'Sharma Hospital Gurgaon', ...",Interested to sell independent house/villa.It ...,NaN,NaN,NaN,O27405853
322,4 Bedroom House for sale in Pratap Nagar,https://www.99acres.com/4-bhk-bedroom-independ...,NaN,2.1 Crore,"₹ 8,386/sq.ft.",(233 sq.m.) Built-up Area,Built Up area: 2504 (232.63 sq.m.),4 Bedrooms,3 Bathrooms,No Balcony,...,"Pratap Nagar, Pratap Nagar, Gurgaon, Haryana",2 Floors,NaN,undefined,NaN,Best in class property available at pratap nag...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,NaN,K69442020

In [4]:
df.drop(columns=['link','property_id'],inplace=True)

In [5]:
df.sample(1)

,property_name,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
299,2 Bedroom House for sale in Shakti Nagar,NaN,NaN,NaN,(93 sq.m.) Plot Area,Plot area 1000(92.9 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Shakti Nagar, Gurgaon, Haryana",1 Floors,NaN,5 to 10 Year Old,"['Lal Superspeciality Hospital', 'Shri Gobind ...","2 bath, dimensions 1000 x 500 ft, semi-Furnish...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [6]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    1044 non-null   object
 1   society          453 non-null    object
 2   price            968 non-null    object
 3   rate             1005 non-null   object
 4   area             1044 non-null   object
 5   areaWithType     987 non-null    object
 6   bedRoom          987 non-null    object
 7   bathroom         987 non-null    object
 8   balcony          987 non-null    object
 9   additionalRoom   589 non-null    object
 10  address          1031 non-null   object
 11  noOfFloor        967 non-null    object
 12  facing           674 non-null    object
 13  agePossession    987 non-null    object
 14  nearbyLocations  913 non-null    object
 15  description      1036 non-null   object
 16  furnishDetails   743 non-null    object
 17  features         674 non-null    object
 18  rating           907 non-null    object
dtypes: object(19)
memory usage: 155.1+ KB

In [8]:
df.isnull().sum()

property_name        0
society            591
price               76
rate                39
area                 0
areaWithType        57
bedRoom             57
bathroom            57
balcony             57
additionalRoom     455
address             13
noOfFloor           77
facing             370
agePossession       57
nearbyLocations    131
description          8
furnishDetails     301
features           370
rating             137
dtype: int64

In [9]:
df.shape

(1044, 19)

In [10]:
df.duplicated().sum()

21

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df.duplicated().sum()

0

# society column

In [13]:
#df['society'].value_counts()

In [14]:
import re
df['society'] = df['society'].apply(lambda name: re.sub(r'\d+(\.\d+)?\s?★', '', str(name)).strip()).str.lower()

In [15]:
df['society'] = df['society'].str.replace('nan','independent')

# price column

In [18]:
df['price']=df['price'][df['price']!='Price on Request']

In [23]:
df.dropna(subset=['price'],inplace=True)

In [24]:
df['price'].isnull().sum()

0

In [25]:
#df['price'].value_counts()

In [26]:
def clean_price(price):
    if 'crore' in price:
        return float(price.split(' ')[0])*100
    elif 'lac' in price:
        return float(price.split(' ')[0])

In [27]:
df['price']=df['price'].str.lower().str.strip().apply(clean_price)

# rate : price_per_sqft column

In [36]:
df['rate']=df['rate'].str.split('/').str.get(0).str.strip().str.split(' ').str.get(1).str.strip().str.replace(',','').astype('float')

In [38]:
df.rename(columns={'price':'price_in_lacs','rate':'rate_per_sqft_inrs'},inplace=True)

# bedroom column

In [42]:
df['bedRoom'].value_counts()

bedRoom
4 Bedrooms     230
5 Bedrooms     183
3 Bedrooms     146
2 Bedrooms      87
6 Bedrooms      80
9 Bedrooms      44
1 Bedroom       38
8 Bedrooms      33
7 Bedrooms      30
12 Bedrooms     27
10 Bedrooms     21
16 Bedrooms     11
13 Bedrooms      4
18 Bedrooms      2
19 Bedrooms      2
11 Bedrooms      2
20 Bedrooms      1
21 Bedrooms      1
36 Bedrooms      1
34 Bedrooms      1
14 Bedrooms      1
Name: count, dtype: int64

In [47]:
df['bedRoom']=df['bedRoom'].str.strip().str.split(' ').str.get(0).astype('int')

# bathroom column

In [53]:
df['bathroom']=df['bathroom'].str.strip().str.split(' ').str.get(0).astype('int')

# balcony column

In [56]:
df['balcony'].value_counts()

balcony
3+ Balconies    352
2 Balconies     217
3 Balconies     158
No Balcony      114
1 Balcony       104
Name: count, dtype: int64

In [61]:
df['balcony']=df['balcony'].str.strip().str.replace('Balconies','').str.replace('No Balcony','0').str.replace('Balcony','')

# additional room  column

In [62]:
df.head(1)

,property_name,society,price_in_lacs,rate_per_sqft_inrs,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,525.0,20115.0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5,4,3+,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."

In [65]:
df['additionalRoom'].isnull().sum()

379

In [66]:
df['additionalRoom'].fillna('NotAvailable',inplace=True)

In [67]:
df['additionalRoom'].isnull().sum()

0

In [71]:
df['additionalRoom']=df['additionalRoom'].str.strip().str.lower()

# noOfFloor

In [72]:
df.head(1)

,property_name,society,price_in_lacs,rate_per_sqft_inrs,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,525.0,20115.0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5,4,3+,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."

In [74]:
df['noOfFloor'].value_counts()

noOfFloor
3 Floors     299
2 Floors     282
1 Floors     179
4 Floors     130
5 Floors       9
0 Floors       6
14 Floors      3
6 Floors       3
11 Floors      2
12 Floors      2
10 Floors      2
16 Floors      1
51 Floors      1
41 Floors      1
27 Floors      1
20 Floors      1
13 Floors      1
21 Floors      1
02 Floors      1
33 Floors      1
Name: count, dtype: int64

In [80]:
df['noOfFloor']=df['noOfFloor'].str.strip().str.split().str.get(0).astype('float')

# facing

In [81]:
df.head(1)

,property_name,society,price_in_lacs,rate_per_sqft_inrs,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,525.0,20115.0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5,4,3+,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3.0,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."

In [83]:
df['facing'].value_counts()

facing
East          176
North-East    156
North         107
West           72
North-West     43
South-East     37
South          33
South-West     24
Name: count, dtype: int64

In [84]:
df['facing'].isnull().sum()

297

In [85]:
df['facing'].fillna('NA',inplace=True)

In [86]:
df['facing'].isnull().sum()

0

In [88]:
df.sample(2)

,property_name,society,price_in_lacs,rate_per_sqft_inrs,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
875,5 Bedroom House for sale in Sector 66 Gurgaon,emaar mgf marbella,1100.0,33951.0,(301 sq.m.) Plot Area,Plot area 360(301.01 sq.m.),5,6,3+,"pooja room,study room,servant room,store room","Emaar Mgf Marbella, Sector 66, Gurugram, Secto...",2.0,North-East,0 to 1 Year Old,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...",360 sq yards duplex villa available for sale i...,"['4 Wardrobe', '7 Fan', '1 Fridge', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment3 out of 5', 'Safety4 out of 5', ..."
828,4 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 2,848.0,23556.0,(334 sq.m.) Plot Area,Plot area 400(334.45 sq.m.),4,6,3+,"pooja room,study room,servant room,store room","A123, Sector 109 Gurgaon, Gurgaon, Haryana",3.0,North-East,0 to 1 Year Old,"['Dwarka Sector 21 Metro Station', 'Pacific D2...","400 sqyd plot , 4bhk sobha villa with lift pro...",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle4 out of 5..."

# propert type

In [89]:
df.insert(1,'property_type','house')

In [90]:
df.sample(2)

,property_name,property_type,society,price_in_lacs,rate_per_sqft_inrs,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
495,6 Bedroom House for sale in Shivaji Nagar,house,shivaji nagar residential,308.0,11407.0,(251 sq.m.) Built-up Area,Built Up area: 2700 (250.84 sq.m.),6,4,2,notavailable,"4145., Shivaji Nagar, Gurgaon, Haryana",1.0,NA,undefined,"['Hanuman Mandir', 'Dr. Ajay S. Gupta Clinic',...",6bhk residential house for resale in shivaji n...,"['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
543,2 Bedroom House for sale in Ashok Vihar Phase 2,house,independent,40.0,8000.0,(46 sq.m.) Built-up Area,Built Up area: 500 (46.45 sq.m.)Carpet area: 3...,2,1,0,notavailable,"Ashok Vihar Phase 2, Delhi Gurgaon Expressway,...",1.0,South,undefined,NaN,2bhk residential house for resale in ashok vih...,NaN,NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."

# Misscellaneous

In [91]:
df.rename(columns={'rate_per_sqft_inrs':'price_per_sqft_inrs'},inplace=True)

In [92]:
df.sample(2)

,property_name,property_type,society,price_in_lacs,price_per_sqft_inrs,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
32,10 Bedroom House for sale in DLF Phase 2,house,independent,900.00,28490.0,(293 sq.m.) Plot Area,Plot area 351(293.48 sq.m.),10,10,3,pooja room,"M15, DLF Phase 2, Gurgaon, Haryana",3.0,East,10+ Year Old,"['Vodafone belvedere towers metro station', 'D...",A 5 bhk semi furnished independent house is av...,"['5 Wardrobe', '1 Water Purifier', '7 Fan', '1...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
41,2 Bedroom House for sale in Narsinghpur,house,sector 37,55.11,7290.0,(70 sq.m.) Plot Area,Plot area 84(70.23 sq.m.)Built Up area: 83 sq....,2,1,1,store room,"House No. 4, Narsinghpur, Gurgaon, Haryana",1.0,East,0 to 1 Year Old,"['S.R.S. Hospital and Critical Care Unit', 'Ko...",Independent house available for sale in narsin...,"['1 Wardrobe', '10 Light', '1 Modular Kitchen'...","['Feng Shui / Vaastu Compliant', 'Private Gard...",NaN

In [95]:
df.rename(columns={'noOfFloor':'floorNum'},inplace=True)

In [98]:
df.insert(3,'sector','na')

In [99]:
df.sample(2)

,property_name,property_type,society,sector,price_in_lacs,price_per_sqft_inrs,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
717,6 Bedroom House for sale in DLF Phase 1,house,dlf city plots,na,1800.0,39841.0,(420 sq.m.) Plot Area,Plot area 502(419.74 sq.m.),6,6,2,"pooja room,servant room,others","Abc108, DLF Phase 1, Gurgaon, Haryana",3.0,North,10+ Year Old,"['Phase 2 Metro Station', 'Grand Mall', 'Jacar...",Beautifully well maintained kothi on sale in d...,"['22 Wardrobe', '8 Fan', '1 Exhaust Fan', '6 G...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
953,3 Bedroom House for sale in Sector 82 Gurgaon,house,vatika independent floors,na,140.0,8235.0,(158 sq.m.) Plot Area,Plot area 1700(157.94 sq.m.),3,3,2,pooja room,"N-24, Sector 82 Gurgaon, Gurgaon, Haryana",3.0,North-West,0 to 1 Year Old,"['Sapphire 83 Mall', 'Delhi Jaipur Expressway'...","Vatika independent floors in sector-84, gurgao...","['5 Fan', '1 Exhaust Fan', '12 Light', '1 Curt...","['Security / Fire Alarm', 'High Ceiling Height...","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [100]:
df.to_csv(r'C:\Users\abc\Data Science and ML\CampusX\Project\self\house1.csv')