In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\abc\Data Science and ML\CampusX\Project\flats.csv")

In [3]:
df.sample(2)

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
2416,2 BHK Flat in Sector 89 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Greenopolis,65 Lac,"₹ 5,195/sq.ft.",Carpet area: 1251 (116.22 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 89 Gurgaon, Gurgaon, Haryana",15th of 21 Floors,NaN,Aug 2024,"['Orris Community Center', 'Indian Oil', 'Essa...",Greenopolis 2bhk on high floor in tower 5,[],"['Security / Fire Alarm', 'Intercom Facility',...","['Environment4 out of 5', 'Lifestyle4 out of 5...",F69279446
2163,3 BHK Flat in Sector 32 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Aqua Front Towers,2.5 Crore,"₹ 11,715/sq.ft.",Built Up area: 2134 (198.26 sq.m.),3 Bedrooms,4 Bathrooms,3 Balconies,NaN,"Sohna Sector 32, Sector 32 Gurgaon, Gurgaon, H...",1st of 1 Floors,NaN,undefined,NaN,Multistorey apartment is available for sale. I...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,NaN,T69815480

In [4]:
df.shape

(3017, 20)

In [5]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [6]:
df.isnull().sum()

property_name         0
link                  0
society               1
price                10
area                 13
areaWithType          9
bedRoom               9
bathroom              9
balcony               9
additionalRoom     1323
address              15
floorNum             11
facing              890
agePossession        10
nearbyLocations     104
description           9
furnishDetails      814
features            423
rating              341
property_id           9
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3017 entries, 0 to 3016
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3017 non-null   object
 1   link             3017 non-null   object
 2   society          3016 non-null   object
 3   price            3007 non-null   object
 4   area             3004 non-null   object
 5   areaWithType     3008 non-null   object
 6   bedRoom          3008 non-null   object
 7   bathroom         3008 non-null   object
 8   balcony          3008 non-null   object
 9   additionalRoom   1694 non-null   object
 10  address          3002 non-null   object
 11  floorNum         3006 non-null   object
 12  facing           2127 non-null   object
 13  agePossession    3007 non-null   object
 14  nearbyLocations  2913 non-null   object
 15  description      3008 non-null   object
 16  furnishDetails   2203 non-null   object
 17  features         2594 non-null   object
 18  rating           2676 non-null   object
 19  property_id      3008 non-null   object
dtypes: object(20)
memory usage: 471.5+ KB

In [8]:
df.duplicated().sum()

0

In [9]:
df.drop(columns=['link','property_id'],inplace=True)

In [10]:
df.shape

(3017, 18)

# Adding Sector Column

In [11]:
sector=df['property_name'][df['property_name'].str.contains('Sector')]
no_sector=df['property_name'][~df['property_name'].str.contains('Sector')]

In [12]:
sector=sector.str.split(" ").apply(lambda x : ' '.join(x[-2:-1]))

In [13]:
no_sector=no_sector.str.lower().str.split("in").str.get(-1)

In [14]:
replacements = {
    'dharam colony': 'sector 12',
    'krishna colony': 'sector 7',
    'suncity': 'sector 54',
    'prem nagar': 'sector 13',
    'mg road': 'sector 28',
    'gandhi nagar': 'sector 28',
    'laxmi garden': 'sector 11',
    'shakti nagar': 'sector 11',
    'baldev nagar': 'sector 7',
    'shivpuri': 'sector 7',
    'garhi harsaru': 'sector 17',
    'imt manesar': 'manesar',
    'adarsh nagar': 'sector 12',
    'shivaji nagar': 'sector 11',
    'bhim nagar': 'sector 6',
    'madanpuri': 'sector 7',
    'saraswati vihar': 'sector 28',
    'arjun nagar': 'sector 8',
    'ravi nagar': 'sector 9',
    'vishnu garden': 'sector 105',
    'bhondsi': 'sector 11',
    'surya vihar': 'sector 21',
    'devilal colony': 'sector 9',
    'valley view estate': 'gwal pahari',
    'mehrauli  road': 'sector 14',
    'jyoti park': 'sector 7',
    'ansal plaza': 'sector 23',
    'dayanand colony': 'sector 6',
    'sushant lok phase 2': 'sector 55',
    'chakkarpur': 'sector 28',
    'greenwood city': 'sector 45',
    'subhash nagar': 'sector 12',
    'sohna road road': 'sohna road',
    'malibu town': 'sector 47',
    'surat nagar 1': 'sector 104',
    'new colony': 'sector 7',
    'mianwali colony': 'sector 12',
    'jacobpura': 'sector 12',
    'rajiv nagar': 'sector 13',
    'ashok vihar': 'sector 3',
    'dlf phase 1': 'sector 26',
    'nirvana country': 'sector 50',
    'palam vihar': 'sector 2',
    'dlf phase 2': 'sector 25',
    'sushant lok phase 1': 'sector 43',
    'laxman vihar': 'sector 4',
    'dlf phase 4': 'sector 28',
    'dlf phase 3': 'sector 24',
    'sushant lok phase 3': 'sector 57',
    'dlf phase 5': 'sector 43',
    'rajendra park': 'sector 105',
    'uppals southend': 'sector 49',
    'sohna': 'sohna road',
    'ashok vihar phase 3 extension': 'sector 5',
    'south city 1': 'sector 41',
    'ashok vihar phase 2': 'sector 5'
}

In [15]:
no_sector = no_sector.replace(replacements)

In [16]:
new_sector=pd.concat([sector,no_sector])

In [17]:
df.insert(1,'sector',new_sector)

In [18]:
df.sample(2)

,property_name,sector,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2675,2 BHK Flat in Sohna,sohna,Ashiana Anmol3.5 ★,88 Lac,"₹ 11,125/sq.ft.",Super Built up area 1275(118.45 sq.m.)Carpet a...,2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sohna, Gurgaon, Haryana",13rd of 14 Floors,East,1 to 5 Year Old,"['Global Signum Plaza', 'Airia Mall', 'Sohna R...",Fully furnished flat with southfacing balconie...,"['1 Water Purifier', '4 Fan', '1 Exhaust Fan',...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area4 out of 5', 'Amenities4 out of 5'..."
1697,3 BHK Flat in Nirvana Country,nirvana country,The Close North4.0 ★,2.65 Crore,"₹ 11,276/sq.ft.",Super Built up area 2605(242.01 sq.m.)Built Up...,3 Bedrooms,3 Bathrooms,3+ Balconies,Servant Room,"Higher Floor, Nirvana Country, Gurgaon, Haryana",3rd of 18 Floors,South-East,5 to 10 Year Old,"['Sector 55-56 Metro Station', 'Eros City Squa...","Situated in nirvana country, gurgaon, the clos...",NaN,"['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction4 out of..."

# price Column

In [19]:
df.dropna(subset=['price'],inplace=True)

In [20]:
df['price']=df['price'][df['price']!='Price on Request']

In [21]:
def clean_price(price):
    if 'crore' in price:
       return float(price.split(' ')[0])*100
    elif 'lac' in price:
        return float(price.split(' ')[0])

In [22]:
df['price'].isnull().sum()

11

In [23]:
df.dropna(subset=['price'],inplace=True)

In [24]:
df['price']=df['price'].str.lower().str.strip().apply(clean_price)

# area : price_per_sqft_inrs column

In [25]:
df.insert(5,'price_per_sqft',df['area'].str.lower().str.split('/').str.get(0).str.strip().str.split().str.get(1).str.replace(',','').astype('float'))

In [26]:
df.drop(columns=['area'],inplace=True)

In [27]:
df.rename(columns={"price":'price_in_cr',"price_per_sqft":'price_per_sqft_inrs'},inplace=True)

In [28]:
df.isnull().sum()

property_name             0
sector                    0
society                   1
price_in_cr               0
price_per_sqft_inrs       0
areaWithType              0
bedRoom                   0
bathroom                  0
balcony                   0
additionalRoom         1304
address                   6
floorNum                  2
facing                  874
agePossession             1
nearbyLocations          91
description               0
furnishDetails          796
features                407
rating                  328
dtype: int64

# bedroom column

In [29]:
df['bedRoom']=df['bedRoom'].str.strip().str.split(' ').str.get(0).astype('int')

# bathroom column

In [30]:
df['bathroom']=df['bathroom'].str.strip().str.split(' ').str.get(0).astype('int')

# balcony column

In [31]:
df['balcony'].value_counts()

balcony
3 Balconies     973
3+ Balconies    862
2 Balconies     749
1 Balcony       315
No Balcony       97
Name: count, dtype: int64

In [32]:
df['balcony']=df['balcony'].str.strip().str.split(' ').str.get(0).str.replace('No','0')

# floorNum column

In [33]:
#df['floorNum'].value_counts()

In [34]:
df.insert(10,'total_floors',df['floorNum'].str.strip().str.split('of').str.get(1).str.strip().str.split(' ').str.get(0).astype('float'))

In [35]:
df['floorNum']=df['floorNum'].str.lower().str.strip().str.split('of').str.get(0).str.strip().str.replace('ground','0').str.replace('lower','').str.replace('basement','-1').str.extract(r'(\d+)').astype('float')

In [36]:
df.insert(12, 'total_floors', df.pop('total_floors'))

# facing

In [37]:
df['facing'].isnull().sum()

874

In [38]:
df['facing'].value_counts()

facing
North-East    505
East          489
North         301
South         203
West          183
North-West    162
South-East    144
South-West    135
Name: count, dtype: int64

In [39]:
df['facing'].fillna('NA',inplace=True)

C:\Users\abc\AppData\Local\Temp\ipykernel_7256\3692945726.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['facing'].fillna('NA',inplace=True)

In [40]:
df['facing'].value_counts()

facing
NA            874
North-East    505
East          489
North         301
South         203
West          183
North-West    162
South-East    144
South-West    135
Name: count, dtype: int64

In [41]:
df['facing'].isnull().sum()

0

# adding new column area

In [42]:
df.insert(5,'area',round((df['price_in_cr']*100000)/df['price_per_sqft_inrs'],2))

# Adding column property_type

In [44]:
df.insert(1,'property_type','flat')

# Miscellaneous

In [45]:
df.rename(columns={"price_in_cr":'price_in_lacs'},inplace=True)

In [46]:
df.sample(2)

,property_name,property_type,sector,society,price_in_lacs,price_per_sqft_inrs,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,total_floors,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2474,4 BHK Flat in Sector 95 Gurgaon,flat,95,Siddhartha Apartment,110.0,4327.0,2542.18,Carpet area: 2542 (236.16 sq.m.),4,3,3,"Servant Room,Others","Block- G, Sector 95 Gurgaon, Gurgaon, Haryana",9.0,10.0,North,1 to 5 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",Only two flats on each floor makes it open fro...,NaN,"['Security / Fire Alarm', 'Lift(s)', 'Maintena...","['Environment4 out of 5', 'Lifestyle4.5 out of..."
2793,3 BHK Flat in Sector 1A IMT Manesar,flat,IMT,Deepak Minda,125.0,4716.0,2650.55,Carpet area: 2650 (246.19 sq.m.),3,3,3+,Servant Room,"Sector 1A IMT Manesar, Gurgaon, Haryana",6.0,10.0,NA,5 to 10 Year Old,"['Pooja Clinic', 'Dr. Sahil Clinic', 'Prakash ...","Near by imt,market,school,hospital","['4 Wardrobe', '6 Fan', '2 Geyser', '6 Light',...","['Security / Fire Alarm', 'Intercom Facility',...",NaN

In [47]:
df.shape

(2996, 22)

In [48]:
df.drop(columns=['total_floors'],inplace=True)

# society

In [50]:
import re
df['society'] = df['society'].apply(lambda name: re.sub(r'\d+(\.\d+)?\s?★', '', str(name)).strip()).str.lower()

In [53]:
df.insert(3,'sector',df.pop('sector'))

In [54]:
df.sample(2)

,property_name,property_type,society,sector,price_in_lacs,price_per_sqft_inrs,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
27,3 BHK Flat in Sector 65 Gurgaon,flat,m3m golfestate,65,615.0,18331.0,3354.97,Built Up area: 3355 (311.69 sq.m.)Carpet area:...,3,4,2,NaN,"Sector 65, Sector 65 Gurgaon, Gurgaon, Haryana",20.0,North-East,undefined,"['Sector 54 Chowk Metro Station', 'Sahara Mall...",One of the best units in m3m golf estate with ...,NaN,NaN,"['Green Area5 out of 5', 'Amenities5 out of 5'..."
2692,3 BHK Flat in Mehrauli Gurgaon Road,flat,essel towers,mehrauli gurgaon road,220.0,12500.0,1760.00,Carpet area: 1760 (163.51 sq.m.),3,4,3+,NaN,"Mehrauli Gurgaon Road, Mehrauli Gurgaon Road, ...",3.0,NA,undefined,"['Mg road metro station', 'Iffco chowk metro s...",Best in class property available at mehrauli g...,"['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,"['Environment4 out of 5', 'Safety3 out of 5', ..."

In [55]:
df.to_csv(r'C:\Users\abc\Data Science and ML\CampusX\Project\self\flats1.csv')