In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\abc\Data Science and ML\CampusX\Project\appartments.csv')

In [3]:
df.sample()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
41,BPTP Amstoria,"Land, 3, 4 BHK Independent Floor in Sector 102...","['Dwarka Expressway', 'Early Basket Grocery sh...","{'Dwarka Expressway': '1.3Km', 'Early Basket G...",https://www.99acres.com/bptp-amstoria-sector-1...,{'3 BHK': {'building_type': 'Independent Floor...,"['Swimming Pool', 'Business Lounge', 'Golf Cou..."

In [5]:
df.iloc[0].NearbyLocations

"['Bajghera Road', 'Palam Vihar Halt', 'DPSG Palam Vihar', 'Park Hospital', 'Gurgaon Railway Station']"

In [15]:
df.iloc[1].TopFacilities

"['Bowling Alley', 'Mini Theatre', 'Manicured Garden', 'Swimming Pool', 'Flower Garden', 'Reading Lounge', 'Golf Course', 'Barbecue', 'Sauna']"

In [19]:
ast.literal_eval(df.iloc[50].TopFacilities)

['Swimming Pool',
 'Bar/Chill-Out Lounge',
 'Terrace Garden',
 'Piped Gas',
 'Cafeteria',
 'Table Tennis',
 'Badminton Court',
 'Jogging Track',
 'Club House']

In [21]:
# import ast
# df['TopFacilities'].dropna().apply(lambda x : ast.literal_eval(x))

In [25]:
import re
def clean(s):
    return re.findall(r"'(.*?)'",s)

In [27]:
df['TopFacilities']=df['TopFacilities'].apply(clean)

In [31]:
df['TopFacilities_str']=df['TopFacilities'].apply(' '.join)

In [32]:
df['TopFacilities_str'][0]

'Swimming Pool Salon Restaurant Spa Cafeteria Sun Deck 24x7 Security Club House Gated Community'

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words='english', ngram_range=(1, 2))
tfidf_matrix = tfidf_vectorizer.fit_transform(df['TopFacilities_str'])

In [45]:
tfidf_matrix.toarray().shape

(247, 953)

In [40]:
from sklearn.metrics.pairwise import cosine_similarity

In [44]:
cosine_similarity(tfidf_matrix,tfidf_matrix)

array([[1.        , 0.01100266, 0.        , ..., 0.0118875 , 0.08667741,
        0.0111241 ],
       [0.01100266, 1.        , 0.01985548, ..., 0.11913891, 0.01562722,
        0.00968374],
       [0.        , 0.01985548, 1.        , ..., 0.07028064, 0.03828089,
        0.01964076],
       ...,
       [0.0118875 , 0.11913891, 0.07028064, ..., 1.        , 0.09842035,
        0.03261797],
       [0.08667741, 0.01562722, 0.03828089, ..., 0.09842035, 1.        ,
        0.06268843],
       [0.0111241 , 0.00968374, 0.01964076, ..., 0.03261797, 0.06268843,
        1.        ]])

In [46]:
df.columns

Index(['PropertyName', 'PropertySubName', 'NearbyLocations',
       'LocationAdvantages', 'Link', 'PriceDetails', 'TopFacilities',
       'TopFacilities_str'],
      dtype='object')

In [49]:
df[['PropertyName','PriceDetails']]['PriceDetails'][0]

"{'2 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,370 sq.ft.', 'price-range': '₹ 2 - 2.4 Cr'}, '3 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '1,850 - 2,050 sq.ft.', 'price-range': '₹ 2.25 - 3.59 Cr'}, '4 BHK': {'building_type': 'Apartment', 'area_type': 'Carpet Area', 'area': '2,600 sq.ft.', 'price-range': '₹ 3.24 - 4.56 Cr'}}"

In [51]:
import ast
df['PriceDetails'].apply(lambda x:ast.literal_eval(x))

ValueError: malformed node or string on line 1: <ast.Name object at 0x000001E67705BE50>